/* Whole frame */

body {
    margin: 0;
    background-color: white;
    font-family: "Open Sans";
}

.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }
  
  .wrapper > * {
    padding: 10px 50px 100px 0px;
    flex: 1 100%;

  }
  
  .header {
    background: #116466;
  }
  
  .footer {
    background: #2c3531;
  }
  
  .main {
    text-align: left;
    background: #2c3531;
  }
  
  .aside-1 {
    background: rgb(201, 199, 199);
  }
  
  .aside-2 {
    background: rgb(201, 199, 199);
  }
  
  @media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
  }
  /* ODER OF THE TAGS WHEN min-width = 800 */
  @media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }
  
  /* Whole frame */


  /* Start of totals boxes */
header {
    height: 100px;
}
.flexGrow {
    width: 90vw;
    height: 120px;
}
.topBoxes {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 20px;
    
}

.boxTotal {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 5px solid gray;
    font-size: 1.2rem;
    background-color: rgb(201, 199, 199);
    
}
.boxBills {
    border-radius: 5px 80px 5px;
    width: 155px;
    height: 100px;
    border: 5px solid gray;
    background-color: rgb(201, 199, 199);
    margin-top: 20px;
}
.boxFood {
    border-radius: 20px;
    width: 155px;
    height: 100px;
    border: 5px solid gray;
    background-color: rgb(201, 199, 199);
    margin-top: 20px;
}
.boxClothes {
    border-radius: 5px 80px 5px;
    width: 155px;
    height: 100px;
    border: 5px solid gray;
    background-color: rgb(201, 199, 199);
    margin-top: 20px;
}
.boxEntertainment {
    border-radius: 20px;
    width: 155px;
    height: 100px;
    border: 5px solid gray;
    background-color: rgb(201, 199, 199);
    margin-top: 20px;
}
.totalLbl {
    padding: 5px;
}
/* End of totals boxes */

/* start progress bars */


.progress-bars {
    line-height: 50px;
    text-align: left;
    list-style-type: none;
    color: white;
    font-size: 1.2rem;
    
    
}
.overview-bar {
    background-color: #116466;
    border-radius: 20px;
}

/* overview background */
#overview-back {
    width: 100%;
    background-color: white;
}
/* overview percentage */
#overview-percent {
    width: 0%;
    color: black;
    height: 50px;
    background-color: rgb(204, 59, 22);   

}
.bills-bar {
    background-color: #116466;
}
/* bills background */
#bills-back {
    width: 100%;
    background-color: white;
}
/* bills percentage */
#bills-percent {
    width: 0%;
    color: black;
    height: 50px;
    background-color: rgb(204, 142, 26);  
}

.food-bar {
    background-color: #116466;
}

/* food background */
#food-back {
    width: 100%;
    background-color: white;
}

/* food percentage */
#food-percent {
    width: 0%;
    color: black;
    height: 50px;
    background-color: rgb(201, 204, 20);  
}

.clothes-bar {
    background-color: #116466;
}

/* clothes background */
#clothes-back {
    width: 100%;
    background-color: white;
}

/* clothes percentage */
#clothes-percent {
    width: 0%;
    color: black;
    height: 50px;
    background-color: rgb(20, 204, 20);   
}

.entertainment-bar {
    background-color: #116466;
}

/* entertainment background */
#entertainment-back {
    width: 100%;
    background-color: white;
}

/* entertainment percentage */
#entertainment-percent {
    width: 0%;
    color: black;
    height: 50px;
    background-color: rgb(20, 198, 204);    
}

.end-bar {
    background-color: #116466;
    border-radius: 0px 0px 20px 20px;
    color: #116466;
}
/* end progress bars */

/* Start Budget Article  */
article.main {
    
}

input {
    display: block;
    padding: 15px 15px 15px 15px;
    margin: 12px;
    width: 40%;
    border-radius: 4px;

  }

#income {
    padding: 15px 15px 15px 15px;
    width: 50%;
}
.budget-add {
    padding: 0px;
    margin: 0px;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

}

.row {
    width: 500px;
    margin: 0 auto;
    margin-left: 10px;
}

.data-results {
    display: flex;
    position: relative;
 
    width: 100%;
    height: 100vh;
}

textarea {
    display: flex;
    width: 400px;
    height: 100px;
    
 
}
/* All the code for the calcBtn */
.btn {
    display: inline-block;
    position: relative;
    left: 75px;
    bottom: 0px;
    background-color: transparent;
    border: none; 
    cursor: pointer;
    z-index: 0;
    padding: 0;
    color: black;
    font-size: 20px;
}

.btn:focus {
outline-color: transparent;
}

/* btn-blow */
.btn-blow::after {
    content: "";
    width: 120px;
    height: 120px;
    background-color: #2c3531;
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    opacity: 0;
    z-index: -4;
    transition-duration: .4s;
    pointer-events: none;
    
  }

.btn-blow:focus::after {
    opacity: 1;
    transform: scale(1);
}
.btn-blow:focus:hover::after {
    transform: scale(1.2);
}

.btn-blow {
    width: 100px;
    height: 100px;  
}

.btn-blow * {
    pointer-events: none;
}

.btn-blow span {
    position: relative;
    overflow: hidden;
    display: flex;
    left:-50px;
    width: 200px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    transition: transform .4s, border-radius .4s;  
    font-family: 'Coiny', cursive;
    transition-timing-function: cubic-bezier(.5,2.4,.7,.5);
  }

.btn-blow span::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #2c3531;
    background-image: radial-gradient(circle, #24babd 0%, #1c9496 30%, #000000 100%);
    background-size: 200% 200%;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
    transform: rotate(90deg);
    z-index: -1;  
    border-radius: 0;
    transition: all .4s;

}
.btn-blow:hover span {
    transform: scale(1.3);
    transition: transform .8s, border-radius .4s;  
    border-radius: 50%;  
}
.btn-blow:hover span::before {
    transition: background-size .8s, border-radius .4s; 
    border-radius: 50%;
    background-size: 120% 120%;
}
/* End of the code for the CalcBtn */
/* End Budget Article  */

/* feed box */
#section-feed {
    position: relative;
    bottom: 170px;
    left: 60px;
}
.outer-feed-box {
    border: 5px solid #116466;
    height: 600px;
    width: 250px;
    margin-top: 200px;
    background-color: white;
}
.feed-tag {
    padding: 5px;
}

/* End of feed box  */





